body{
  margin: 0;
  background-image: url("/Weather-forecast/photos/sunny.jpg");
  background-repeat:no-repeat;
  background-size: cover;

}
header {
  font-size: 50px;
  text-align: center;
  height: 100px;
  margin-top: 0%;
}

.currentInfo {
  display: flex;
  height: 43vh;
  margin-top: 3%;
}

.citySearch {
  background-color: rgba(4, 109, 230, 0.2);
  border: black 2px solid;
  height: 80%;
  width: 15%;
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 2%;
}

.currentCitySearch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  border-radius: 10px;
  margin-top: 5px;
  width: 32%;
  font-size: 14px;
  background-color: white;
  
}

.searchBtn:hover {
  box-shadow: 0 0 3px #000 inset;
}

input {
  width: 60%;
  border-radius: 5px ;
}

.weatherInfo {
  background-color: rgb(0, 255, 255, .2);
  width: 50%;
  margin-left: 10%;
  border: 2px black solid;
  border-radius: 10px;
  height: 85%;
  margin-top: 1%;
}

.weatherInfo p {
  font-size: 25px;
}

.currentCity {
  text-align: center;
  color: white;
}

.fiveDay {
  text-align: center;
  color: white;
}

.futureForecast {
  height: 500px;
  display: flex;
  justify-content: space-around;

}

.box {
  background-image: url('/Weather-forecast/photos/sunnyDay.jpg');
  background-size:cover;
  border: black 2px solid;
  height: 55%;
  width: 12%;
  border-radius: 10px;
  font-size: 20px;
}

.favorable {
  background-color: rgb(52, 189, 52);
  width: 12%;
}

.moderate {
  background-color: rgb(247, 247, 35);
  width: 12%;
}

.severe {
  background-color: rgb(233, 59, 59);
  width: 12%;
}

.hide {
  visibility: hidden;
}

.futureDay {
  text-align: center;
}