body{
  margin: 0;
  background-image: url("./photos/sunny.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
header {

  font-size: 50px;
  text-align: center;
  height: 100px;
  margin-top: 0%;
}

.currentInfo {
  
  display: flex;
  height: 43vh;
  margin-top: 3%;
}

.citySearch {
  background-color: rgba(4, 109, 230, 0.2);
  border: black 2px solid;
  height: 100%;
  width: 15%;
  border-radius: 30px;
  margin-left: 7% ;
}

.weatherInfo {
  background-color: rgb(0, 255, 255, .2);
  width: 50%;
  margin-left: 10%;
  border: 2px black solid;
  border-radius: 10px;
}

.currentCity {
  text-align: center;
}



.fiveDay {
  margin-left: 500px;
  margin-top: 50px;

}

.futureForecast {
  height: 500px;
  display: flex;
  justify-content: space-around;

}

.box {
  border: black 2px solid;
  height: 50%;
  width: 15%;

}

.favorable {
  background-color: rgb(52, 189, 52);
  width: 12%;
}

.moderate {
  background-color: rgb(247, 247, 35);
  width: 12%;
}

.severe {
  background-color: rgb(233, 59, 59);
  width: 12%;
}